In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import json
from flask import Flask, jsonify, render_template

In [2]:
drug_db_df = pd.read_sql_table('OD Data by Drug Type', 'sqlite:///OD_Data_byDrug.db')  
drugvunemployment_db_df = pd.read_sql_table('OD Data Rate versus Unemployment Rate', 'sqlite:///OD_DeathratevsUnemployment.db')

In [8]:
drug_db_df

,state,year,coke_od,her_od,opi_od,OD_sum,coke_per,her_per,opi_per
0,Alaska,2016,15.0,49.0,96.0,160.0,9.375000,30.625000,60.000000
1,Alaska,2017,18.0,36.0,100.0,154.0,11.688312,23.376623,64.935065
2,Alaska,2018,10.0,28.0,65.0,103.0,9.708738,27.184466,63.106796
3,Arizona,2017,136.0,341.0,936.0,1413.0,9.624912,24.133050,66.242038
4,Arizona,2018,175.0,367.0,1132.0,1674.0,10.454002,21.923536,67.622461
...,...,...,...,...,...,...,...,...,...
117,Wyoming,2018,0.0,0.0,41.0,41.0,0.000000,0.000000,100.000000
118,New York City,2015,290.0,408.0,726.0,1424.0,20.365169,28.651685,50.983146
119,New York City,2016,507.0,574.0,1136.0,2217.0,22.868742,25.890843,51.240415
120,New York City,2017,630.0,643.0,1201.0,2474.0,25.464834,25.990299,48.544867
121,New York City,2018,639.0,605.0,1155.0,2399.0,26.636098,25.218841,48.145060

In [6]:
drug_dict = drug_db_df.to_json("drug_data.json", orient = 'columns')
drug_dict

In [7]:
drug_unemployment = drugvunemployment_db_df.to_json("drug_unemployment.json", orient = 'columns')
drug_unemployment

In [10]:
drug_dict = drug_db_df.to_dict(orient = 'records')
drug_dict

with open("drug_data2.json", "w") as output:
    json.dump(drug_dict, output)

In [11]:
drug_unemployment = drugvunemployment_db_df.to_dict(orient = 'records')
drug_unemployment

with open("drug_unemployment2.json", "w") as output:
    json.dump(drug_unemployment, output)